{% extends 'base.html.twig' %}

{% block title %}Games{% endblock %}

{% block body %}
<div class="container pt60 pb60">
    <div class="text-center mb60">
        <h1>Oops! Une Erreur est survenue</h1>

        <h2>{{ status_code }} - {{ status_text }}</h2>

        <p> Il y'a une erreur avec le server. Veuillez réessayer ultérieurement</p> 
    </div>
</div>
{% endblock %}