<!-- console-form.component.html -->

<div class="tab-pane fade show active" id="consoadd" role="tabpanel" aria-labelledby="consoadd-tab">
  <form (ngSubmit)= "onSubmit(form)" #form= "ngForm">
    <div class="form-group row">
      <label for="nom" class="col-sm-2 col-form-label">Nom</label>
      <div *ngIf="add" class="col-sm-10">
        <input type="text" class="form-control" id="nom" placeholder="Nom de la console" name="nom" ngModel required>
      </div>
      <div *ngIf="!add" class="col-sm-10">
        <input type="text" class="form-control" id="nom" placeholder="Nom de la console" name="nom" [(ngModel)]="console.nom" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="fabricant" class="col-sm-2 col-form-label">Fabricant</label>
      <div *ngIf="add" class="col-sm-10">
        <input type="text" class="form-control" id="fabricant" placeholder="Fabricant de la console" name="fabricant" ngModel required>
      </div>
      <div *ngIf="!add" class="col-sm-10">
        <input type="text" class="form-control" id="fabricant" placeholder="Fabricant de la console" name="fabricant" [(ngModel)]="console.fabricant" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="prix" class="col-sm-2 col-form-label">Prix</label>
      <div *ngIf="add" class="col-sm-10">
        <input type="text" class="form-control" id="prix" placeholder="Prix en euro" name="prix" ngModel required>
      </div>
      <div *ngIf="!add" class="col-sm-10">
        <input type="text" class="form-control" id="prix" placeholder="Prix en euro" name="prix" [(ngModel)]="console.prix" required>
      </div>
      
    </div>

    <div class="form-group row">
      <label for="image" class="col-sm-2 col-form-label">Image</label>
      <div *ngIf="add" class="col-sm-10">
        <input type="text" class="form-control" id="image" placeholder="Url de l'image" name="image" ngModel required>
      </div>
      <div *ngIf="!add" class="col-sm-10">
        <input type="text" class="form-control" id="image" placeholder="Url de l'image" name="image" [(ngModel)]="console.image" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="date_de_sortie" class="col-sm-2 col-form-label">Date de sortie</label>
      <div *ngIf="add" class="col-sm-10">
        <input type="date" class="form-control" id="date_de_sortie" name="date_de_sortie" ngModel required>
      </div>
      <div *ngIf="!add" class="col-sm-10">
        <input type="date" class="form-control" id="date_de_sortie" name="date_de_sortie" ngModel required>
      </div>
    </div>
    
    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Description</label>
      <div *ngIf="add" class="col-sm-10">
        <textarea type="textarea" class="form-control" id="description" rows="6" placeholder="Une description de la console" name="description" ngModel required></textarea>
      </div>
      <div *ngIf="!add" class="col-sm-10">
        <textarea type="textarea" class="form-control" id="description" rows="6" placeholder="Une description de la console" name="description" [(ngModel)]="console.description" required></textarea>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" [disabled]=form.invalid>Valider</button>
      </div>
    </div>
  </form>
</div>